body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: auto;
  height: auto;
}

.sectionElement {
  border: 1px solid;
  padding: 10px;
}

.searchBarHeader {
  justify-content: center;
  align-items: center;
  display: flex;
}

.searchBar {
  margin-top: 20px;
  border: 1px solid;
  height: 50px;
  width: 1200px;
  color: grey;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.searchIcon {
  align-self: flex-end;
  margin-bottom: 25px;
}

.highlightedEventsDiv {
  display: flex;
}

.highlightedArtDiv {
  display: flex;
}

.openedModal {
  position: absolute;
  inset: 0 0 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artElement {
  display: flex;
  justify-content: space-between;
}

.eventElement {
  display: flex;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.favoriteShow {
  top: 5px;
  right: 5px;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: flex-end;
}

.imageFullShow {
  max-width: 600px;
  max-height: 600px;
}

.closeButton {
  font-size: 30px;
}